<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Admin Dashboard</h1>

    <h2>Create a New Class</h2>
    <form onsubmit="return createClass()" id="createClassForm">

        <label for="class_id">Class ID:</label>
        <input type="text" name="class_id" required>

        <label for="class_name">Class Name:</label>
        <input type="text" name="class_name" required>
    
        <label for="teacher_id">Teacher:</label>
        <select name="teacher_id" id="teacherDropdown" required>
            <!-- Options will be added dynamically using JavaScript -->
        </select>

        <label for="meetingTime">Meeting Time:</label>
        <input type="text" name="meetingTime" required>

        <label for="max_capacity">Max Capacity:</label>
        <input type="number" name="max_capacity" required>
    
        <button type="submit">Create Class</button>
    </form>
    
    
        <body onload="openAllCourses()">
            <h1>All Courses</h1>
            <div id="resultAllCourses">
                <!-- The button is removed since the function is triggered automatically -->
            </div>
        </body>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="static/admin.js"></script>
    <script src="static/main.js"></script>
</html>
