<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- <link rel="stylesheet" href="/Lab 6/static/css/styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body class="font mainBackground">
    <div id="rcorners1" class="center">
        <p>Student Login</p>
        <div id="rcorners2" class="center">
            <p>Name</p>
            <input id="stuName" placeholder="Name...">
            <p>Password</p>
            <input id="stuPass" class="center" placeholder="Password..." type="secret">
            <br /><br />
        </div> 
        <br /><br />
        <button id="loginBtn" class="button button1" onclick="userLogin()">Login</button>
        <button id="signupBtn" class="button button1" onclick="postStudent()">Sign Up</button>
    </div>
    <!-- <script src="/Lab 6/static/main.js"></script> -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>

</html>